:root{
  --primary-color: rgb(91, 98, 163);
  --primary-dark-color: #465470;
  --secondary-color: #829fdd;
  --bg-color: #323949;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: 'Zen Dots', cursive;
}

a {
  text-decoration: none;
  color: white;
}

ul {
  list-style: none;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: var(--bg-color);
}

/* Navbar */

nav {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  height: 70px;
  width: 100vw;
  background-color: var(--primary-dark-color);
}

nav .container {
  position: relative;
  display: flex;
  width: 95%;
  height: 50px;
  justify-content: space-between;
}

.isotype {
  top: 0;
  left: 0;
  height: 100%;
  width: auto;
}

nav ul {
  display: flex;
  align-items: center;
}
nav li {
  margin: 5px 15px;
  font-size: 17px;
} 
nav a:hover {
  color: #7795ad;
}

/* Showcase */

.showcase {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: calc(100vh - 70px);
  overflow: hidden;
  flex-direction: column;
}

.showcase .text-header{
  background-color: rgba(0, 0, 0, 0.3);
  padding: 30px 70px;
  text-align: center;
  color: white;
}

.showcase .text-header h1{
  font-size: 4rem;
}

.showcase .text-header h2 , p{
  font-size: 2rem;
}

.showcase .bg-header {
  position: absolute;
  width: 100%;
  height: 100% ;
  z-index: -20;
}

.showcase .bg-header img {
  overflow: hidden;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

/* Texto About */

.about-container {
  display: flex;
  justify-content: center;
  padding: 20px 0;
}

.about-container p {
  width: 80%;
  color: white;
  font-size: 1rem;
}

/* Bar Projects */

.projects, .about {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 10px;
}

.projects .text-bar, .about .text-bar {
  position: relative;
  display: flex;
  width: 100vw;
  height: 70px;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-dark-color);
}

.about  .text-bar h2, .projects .text-bar h2 {
  font-size: 1.5rem;
  color: white;
}

/* Projects */

.projects-container {
  position: relative;
  display: grid;
  padding-top: 10px;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 10px;
  width: 95%;
}


.projects-container > div {
  position: relative;
  cursor: pointer;
  height: 100%;
  border: 2px solid var(--secondary-color);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5),
              0 0 7px rgba(0, 0, 0, 0.5);
}
  
.projects-container img{
  width: 100%;
  height: 100%;
}

.projects-container .title-day {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.25rem 0.5rem;
  opacity: 1;
  color: white;
  background-color: var(--secondary-color);
  font-size: 1rem;
  border-bottom-left-radius: 10px;
  transition: opacity 300ms ease-out;
}


.projects-container .card-body {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  color: #fff;
  text-align: center;
  background: rgba(0, 0, 0, 0.75);
  transition: opacity 300ms ease-out;
}

.projects-container div:hover > .card-body {
  opacity: 1;
}

.projects-container div:hover > .title-day {
  opacity: 0;
}

.buttons{
  display: flex;
  gap: 5px;
}

.btn {
  background-color: transparent;
  border-radius: 0.25rem;
  padding: 0.25rem 0.5rem;
  transition: 300ms ease-out;
}

.btn-primary {
  border: 0.15rem solid var(--primary-color);
  color: var(--primary-color);
}

.btn-secondary {
  border: 0.15rem solid var(--secondary-color);
  color: var(--secondary-color);
}

.btn.btn-primary:hover{
  background-color: var(--primary-color);
  color: white;
}

.btn.btn-secondary:hover{
  background-color: var(--secondary-color);
  color: white;
}