:root {
  --color-bg-1: #c17eff;
  --color-bg-2: #ff93c0;
  --color-bg-3: #ffc37e;
  --color-bg-4: #93ffed;
  --line-color: rgba(202, 202, 202, 0.7);
  --line-color-dark: rgb(202, 202, 202);
  --line-color-light: rgba(202, 202, 202, 0.3)
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: 'Kanit', sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 100vh;
  background: linear-gradient(45deg, var(--color-bg-1), transparent 45%, transparent 55%, var(--color-bg-3) 100%),
              linear-gradient(-45deg, var(--color-bg-2), transparent 45%, transparent 55%, var(--color-bg-4) 100%);
}

.isotype {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 10px;
  left: 10px;
}

.form-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 300px;
  height: 400px;
  gap: 15px;
  border: 2px solid --line-color;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  z-index: 10;
  background-color: rgba(255, 255, 255, 0.1);
}


form {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 75%;
}

.form-container a {
  text-decoration: none;
  color: var(--line-color);
}

.form-container a:hover {
  text-decoration: underline;
  color: var(--line-color-dark);
}

.form-container h1 {
  text-align: center;
}

.btn {
  cursor: pointer;
  width: 100%;
  background: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 15px;
  font-family: inherit;
  font-size: 1.3rem;
  color: black;
  border: 0;
  border-radius: 5px;
}

.btn:focus {
  outline: 0;
}

.btn:active {
  transform: scale(0.98);
}


.input-container {
  position: relative;
  margin: 20px 0;
  width: 100%;
}

.input-container input {
  display: block;
  width: 100%;
  padding: 15px 0;
  font-size: 1.2rem;
  color: black;
  border: 0;
  border-bottom: 2px #fff solid;
  background-color: transparent;
}

.input-container input:focus,
.input-container input:valid {
  outline: 0;
  border-bottom-color: var(--line-color);
}

.input-container .dynamic-label {
  position: absolute;
  top: 15px;
  left: 0;
}

.input-container .dynamic-label span {
  display: inline-block;
  font-size: 1.2rem;
  min-width: 5px;
  transition: 300ms cubic-bezier(.73,.11,0,1.54);
}

.input-container input:focus + label span,
.input-container input:valid + label span{
  transform: translateY(-30px);
}