* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body {
  display: flex;
  background-color: #dbdbdb;
  justify-content: center;
  align-items: center;
}

/* Content Properties */
.isotype{
  width: 5rem;
  height: 5rem;
}

.container {
  z-index: 0;
  min-height: 100vh;
  transform-origin: top left;
  width: 80vw;
  padding-top: 100px;
  transition: 400ms cubic-bezier(0,.85,.23,.91);
}

.container.show-nav {
  transform: rotate(-20deg);
}

section {
  padding-bottom: 50px;
}

.main-content section h1{
  font-family: 'Prosto One', cursive;
  font-size: 2rem;
}

.main-content section h2 {
  font-family: 'Roboto Mono', monospace;
  font-size: 1rem;
  padding-bottom: 0.75rem;
  color: #858585;
}

.main-content section p {
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 1.2rem;
  padding-bottom: 1.5rem;
}

.main-content section img {
  max-width: 100%;

}

/* Button Propetties */

.btn-container {
  position: fixed;
  z-index: 15;
  top: 0px;
  left: 0px;
}

.btn-container .btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
}

.btn-container .bg-circles {
  position: absolute;
  top: -60px;
  left: -60px;
  width: 200px;
  height: 200px;
}

.unperfect-circles {
  position: relative;
  width: 80%;
  height: 80%;
}

.circle-front, .circle-back {
  z-index: 9;
  transform-origin: center;
  animation-name: rotate-circle;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.circle-front {
  fill: rgba(255, 0, 0, 0.2);
  animation-duration: 3s;
}

.circle-back {
  fill: rgba(255, 125, 125, 0.8);
  animation-duration: 8s;
  animation-direction: reverse;
}

@keyframes rotate-circle {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.line {
  fill: white;
  z-index: 10;
}

/* Animations Button */

.button-anim {
  border: none;
  background: transparent;
  width: 80%;
  height: auto;
  z-index: 10;
}

.button-anim .line {
  transition: y 200ms cubic-bezier(0,.85,.23,.91) 200ms,
    rotate 200ms cubic-bezier(1,0,1,.48),
    opacity 0ms 200ms;
  transform-origin: center;
}

.button-anim[closed="true"]  .line {
  transition: 
    y 200ms cubic-bezier(1,0,1,.48),
    rotate 200ms cubic-bezier(0,.85,.23,.91) 200ms,
    opacity 0s 200ms 
}

.button-anim[closed="true"]  :is(.top, .bottom) {
  y: 45;
}

.button-anim[closed="true"]  .top{
  rotate: 45deg;
}

.button-anim[closed="true"]  .bottom{
  rotate: -45deg;
}

.button-anim[closed="true"]  .center{
  opacity: 0;
}


/* Navbar */

nav {
  position: fixed;
  bottom: 40px;
  left: 0;
  font-size: 1.5rem;
  z-index: 20;
  font-family: 'Roboto Mono', monospace;
}
nav ul {
  list-style-type: none;
  padding-left: 30px;
}

nav ul li {
  text-transform: uppercase;
  margin: 1.5rem 0;
  opacity: 0;
  transform: translateX(-150%);
  transition: 400ms cubic-bezier(0,.85,.23,.91);
}

nav ul li.active{
  transform: translateX(100%);
  opacity: 100;
}

nav a{
  color: rgb(131, 131, 131);
  text-decoration: none;
  transition: all 0.5s;
}

nav a:hover {
  color: #ffb0b0;
  font-weight: bold;
}

@media (max-width: 768px) {
  nav ul li.active{
    transform: translateX(70%);
  }
}

@media (max-height: 400px) {
  nav ul li.active{
    transform: translateX(30%);
  }
}