* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  --margin-color: #9b9b9b;
  --margin-color-dark: #616161;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 100vh;
  background: linear-gradient(45deg, #fbffc3, #91e5ff, #ff9bde);
}

.isotype {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 10px;
  left: 10px;
}

textarea {
  resize: none;
  font-size: 1rem;
}

.random-container{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70vw;
  height: 80vh;
  background-color: whitesmoke;
  box-shadow: 0 0 10px rgba(0 , 0, 0, 0.1);
  border-radius: 20px;
  gap: 50px;
}

.random-text{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  gap: 15px;
  color: var(--margin-color-dark);
  font-family: 'Roboto', sans-serif;
}

.btn {
  color: white;
  font-size: 2rem;
  padding: 0.5rem 1rem;
  border: none;
  background-color: var(--margin-color);
  border-radius: 50px;
}

.roullette {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 300px;
}

.box {
  position: relative;
  width: 100%;
  height: 100%;
}

.arrow {
  position: absolute;
  top: 50%;
  right: -5%;
  width: 30px;
  height: 30px;
  fill: var(--margin-color);
  transform: translateY(-50%);
}

.arrow-svg {
  transform-origin: center;
  rotate: -90deg;
  stroke: var(--margin-color-dark);
  stroke-width: 10;
}

.disable {
  display: none;
  visibility: hidden;
}

.roullette .canvas-text {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: var(--margin-color);
  transform: translate(-50%, -50%);
}