* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  --size-btn: 40px;
  --color-1: #3b2683;
  --color-2: #a32b97;
  --general-gap: 10px;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 100vh;
  background: linear-gradient(45deg, var(--color-1), var(--color-2));
}

.isotype {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 10px;
  left: 10px;
}

.draw-container {
  position: relative;
  display: flex;
  gap: 20px;
}


.settings {
  display: flex;
  width: 120px;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  position: relative;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: var(--general-gap);
  padding: 10px;
}

.options ,.actions ,.colors{
  position: relative;
  display: grid;
  gap: var(--general-gap);
  grid-template-columns: repeat(2, 1fr);
}

.btn {
  width: var(--size-btn);
  height: var(--size-btn);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: 4px solid rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  color: rgba(255, 255, 255, 0.5);
  font-size: 1rem;
}

.sizeInput {
  width: 100%;
}

.btn:hover{
  background-color: rgba(240, 248, 255, 0.4);
}

.btn.active{
  color: white;
  border-color: white;
  background-color: rgba(240, 248, 255, 0.4);
}

.color-input {
  grid-column: 1 / 3;
  width: calc((var(--size-btn) * 2) + var(--general-gap));
  height: var(--size-btn);
  border-radius: 5px;
  border: 2px solid rgba(255, 255, 255, 0.5);
}

.separeitor {
  width: 100%;
  height: 10px;
  border-radius: 5px;
  background-color: white;
  opacity: 0.5;
}

canvas {
  position: relative;
  width: 800px;
  height: 500px;
  border: 5px solid rgb(67, 0, 105);
}
canvas::before, canvas::after {
  content: '';
  width: 600px;
  height: 50px;
  border: 5px solid rgb(67, 0, 105);
}
