/* General Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Oswald", sans-serif;
  -webkit-tap-highlight-color: transparent;
}

body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to left top, rgb(11, 19, 39), rgb(8, 8, 20));
}

/* Isotype */

.isotype {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 10px;
  left: 10px;
}

/* Container */

.container {
  padding: 0 20px 20px;
  position: relative;
  max-width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 90vh;
}

/* Cards & properties */

.card {
  position: relative;
  height: 50%;
  flex: 0.5;
  margin: 10px;
  border-radius: 2rem 5rem;
  border: 5px solid rgb(6, 28, 43);
  box-shadow: 0 0 20px rgba(0, 0, 0 , 0.5);
  overflow: hidden;
  cursor: pointer;
  transition-duration: 0.5s;
  transition-timing-function: jump-start;
}

.card img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  filter: blur(10px);
  z-index: -5;
  transition-duration: 0.5s;
  transition-timing-function: jump-start;
}

.card h2 {
  position: absolute;
  width: 150%;
  font-size: 3rem;
  opacity: 0;
  z-index: 5;
  color: rgb(255, 255, 255);
  bottom: 2rem;
  left: 2rem;
  text-shadow: 0 0 2rem rgba(0, 0, 0, 0.952);
  transition-duration: 0.25s;
  transition-delay: 0s;
  transition-timing-function: jump-start;
}

/* Hover Transitions */

.card:hover{
  border: 5px solid rgb(155, 215, 255);
  box-shadow: 0 0 18px rgba(141, 190, 255, 0.6),
  0 0 40px rgba(118, 177, 255, 0.4),
  0 0 75px rgba(49, 139, 255, 0.3),
  0 0 150px rgba(12, 93, 199, 0.2);
}

.card:hover > img {
  filter: blur(0);
}

/* Actived mode */

.card.active{
  flex: 2.5;
  height: 75%;
}

.card.active img{
  filter: blur(0);
}

.card.active h2{
  opacity: 100;
  transition-delay: 0.5s;
  transition-duration: 0.5s;
}

/* Responsive with Media Queries */

@media (max-width: 768px) {
  .container {
    padding: 0;
    flex-direction: column;
    width: 100vw;
  }
  .card {
    width: 70%;
    flex: 0.5;
  }
  .card.active{
    flex: 2.5;
    width: 90%;
  }
  .card h2{
    width: 80%;
    font-size: 2.5rem;
  }

}