* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  --color-1: #555;
  --color-2: #3d3d3d;
  --fill-color-primary: rgb(230, 230, 230);
  --fill-color-secondary: rgb(218, 218, 218);
  --outer-border-radius: 20px;
  --inner-border-radius: 10px;
  --inner-gap: 8px;
  --outer-gap: 16px;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 100vh;
  background: linear-gradient(45deg, var(--color-1), var(--color-2));
  font-family: 'Hind Guntur', sans-serif;
}

.isotype {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 10px;
  left: 10px;
}

.card {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  width: 250px;
  gap: var(--inner-gap);
  border-radius: var(--outer-border-radius);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
  background-color: aliceblue;
  padding: var(--outer-gap) 0;
}

.placeholder {
  width: 90%;
  border-radius: var(--inner-border-radius);
}

.image-placeholder, .text-placeholder {
  height: var(--inner-gap);
  background-image: linear-gradient(
    45deg,
    var(--fill-color-primary) 20%,
    var(--fill-color-secondary) 25%,
    var(--fill-color-secondary) 30%,
    var(--fill-color-primary) 35%,
    var(--fill-color-primary) 100%
  );
  background-size: 300% 200%;
  animation: bgPos 2s linear infinite;
}

.text-placeholder {
  border-radius: var(--inner-border-radius);
  color: transparent;
}

.card-image, .image-profile {
  overflow: hidden;
  position: relative;
}

.card-image img, .image-profile img{
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.card-image {
  height: 150px;
}

.image-profile {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.profile-content {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: var(--inner-gap);
  width: 90%;
  height: 50px;
}

.image-placeholder + .post-info {
  gap: 5px;
}

.post-info {
  position: relative;
  display: flex;
  flex-direction: column;
  width: calc(100% - (var(--inner-gap) + 50px));
}

.card-title, .name-profile{
  font-size: 1rem;
}

.card-content, .date-post {
  font-size: 0.75rem;
}

@keyframes bgPos {
  0% {
    background-position: 50% 100%;
  }

  100% {
    background-position: -250% 100%;
  }
}