* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  --btn-size : 80px;
  --gap-size: 10px;
  --border-size: 2px;
  --color-border: rgb(139, 139, 139);
  --launcher-color: rgb(34, 34, 34);
  user-select: none;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 100vh;
  background-color: rgb(19, 19, 19);
}

.isotype {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 10px;
  left: 10px;
}

.launcher-table {
  position: relative;
  display: flex;
  padding: 20px;
  background-color: var(--launcher-color);
  border-radius: 40px;
}


.launchpad-grid {
  position: relative;
  display: grid;
  margin: 50px;
  grid-template-columns: repeat(4, 1fr);
  gap: var(--gap-size);
}

.light-btn {
  position: relative;
  width: var(--btn-size);
  height: var(--btn-size);
  background: radial-gradient(rgb(83, 83, 83), rgb(49, 49, 49));
  border-radius: calc(var(--btn-size) * 0.1);
  border: var(--border-size) solid var(--color-border);
  z-index: 10;
}

.light-btn.active{
  z-index: 15;
  color: hsl(208, 100%, 97%);
  background: radial-gradient(hsl(var(--c), 100%, 90%), hsl(var(--c), 100%, 63%));
  border-color: hsl(var(--c), 100%, 78%);
  box-shadow: 0 0 15px hsla(var(--c), 100%, 84%, 0.7),
              0 0 50px hsla(var(--c), 100%, 69%, 0.5),
              0 0 50px hsla(var(--c), 100%, 53%, 0.3);
}