* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  --border-cup: 15px;
  --water-color: #5ee7ff;
  --water-color-light: #d9ffff;
  outline: 2px solid limegreen !important;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 100vh;
  background-color: rgb(190, 255, 255);
  font-family: 'Sofia Sans', sans-serif;
}

.isotype {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 10px;
  left: 10px;
}

.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90vw;
  height: 90vh;
  gap: 100px;
}

.cup {
  border: 4px solid #272727;
  border-bottom-left-radius: var(--border-cup);
  border-bottom-right-radius: var(--border-cup);
}

.full {
  background-color: var(--water-color);
}

.small-cup {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75px;
  height: 150px;
}

.big-cup {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 200px;
  height: 500px;
  overflow: hidden;
}

.remained , .percentage {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  transition: 300ms ease-out;
}

.remained {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.remained span {
  font-size: 2rem;
}
.remained small {
  font-size: 1rem;
}

.percentage {
  font-size: 3rem;
  background-color: var(--water-color);
  height: 0;
}


.interactive-section {
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}