* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline: 0;
  --border-cup: 15px;
  --water-color: #6fa9dd;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  height: 100vh;
  background-color: #2c292c;
  font-family: 'Sofia Sans', sans-serif;
}

h1{
  font-size: 2rem;
  color: white;
}

.isotype {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 10px;
  left: 10px;
}

.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90vw;
  height: 90vh;
  gap: 100px;
}

.cup {
  color: white;
  border: 6px solid transparent;
  border-bottom-left-radius: var(--border-cup);
  border-bottom-right-radius: var(--border-cup);
  box-shadow: 0 0 0 4px #fff, 0 20px 35px rgba(0,0,0,0.5);
}

.full {
  background-color: var(--water-color);
}

.small-cup {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 100px;
}

.big-cup {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 200px;
  height: 500px;
  overflow: hidden;
}

.remained , .percentage {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  transition: 300ms ease-out;
}

.remained {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.remained span {
  font-size: 2rem;
}
.remained small {
  font-size: 1rem;
}

.percentage {
  color: white;
  font-size: 3rem;
  background-color: var(--water-color);
  height: 0;
	animation: animate 3s cubic-bezier(0,.2,1,.8) infinite;
}

.interactive-section{
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  height: 500px;
}

.cup-section {
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.button-section {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.button-section h4 {
  color: white;
  font-size: 1rem;
}

.edit-liters, .edit-cups {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.edit-liters span, .edit-cups span{
  width: 70px;
  text-align: center;
  color: white;
  font-size: 2rem;
}

.btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  background: none;
  border: transparent;
  cursor: pointer;
}

.btn i {
  color: white;
  font-size: 2rem;
}

@keyframes animate {
	0%,
	100% {
		  clip-path: polygon(
			0% 0%,
      25% 1%,
      50% 3%,
      75% 5%,
      100% 6%,
			100% 100%,
			0% 100%
		);
	}

  25% {
    clip-path: polygon(
      0% 3%,
      25% 5%,
      50% 6%,
      75% 5%,
      100% 3%,
      100% 100%,
      0% 100%
      );
  }
	50% {
		clip-path: polygon(
			0% 6%,
      25% 5%,
      50% 3%,
      75% 1%,
      100% 0%,
			100% 100%,
			0% 100%
		);
	}
  75% {
		clip-path: polygon(
			0% 3%,
      25% 1%,
      50% 0%,
      75% 1%,
      100% 3%,
      100% 100%,
      0% 100%
		);
	}
}